    /*  Variables   */

:root {
  --bg: #FAF3E0;
  --text: #2C2C2C;
  --accent: #C97A40;
  --highlight: #A63C24;
  --hover: #E6B89C;
}

body.dark {
  --bg: #2B2B28;
  --text: #EAE6DA;
  --accent: #5C4033;
  --highlight: #9b5e41;
  --hover: #B97A57;
}


* {
    padding: 0;
    margin: 0;
}


body {
    background-color: var(--bg);
    transition: background-color 0.4s ease, color 0.4s ease;
}

nav {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--accent);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 35px;
    transition: background-color 0.4s ease;
    height: 70px;
}

#navItems {
    display: flex;
    gap: 20px;
    padding: 10px;
}

    /*  Text    */

.button {
    padding: 5px;
    box-sizing: border-box;
}

.button:hover {
    border: 2px dashed var(--hover);
    border-radius: 10px;
    background-color: var(--highlight);
    transition: all 0.2s ease;
}

.text {
    font-size: 1.5em;
    color: var(--text);
    transition: color 0.4s ease;
}


    /*  Fonts   */

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}


    /*  Responsive Design   */

#burgerMenu {
    display: none;
}

@media (max-width: 600px) {       
    #navItems {
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 55px;
        padding: 10px;
        background-color: var(--accent);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
        border-bottom-left-radius: 10px;

        /* animation setup */
        transform: translateY(-20px);
        overflow: hidden;
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    #burgerMenu {
        display: block;
    }

    nav {
        border-bottom-right-radius: 0;
    }

    #navItems.shown {
        transform: translateY(0);
        opacity: 1;
    }
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

main > div {
    height: 100%;
    width: 100%;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

    /*  Cards   */

.card {
    border: 1px solid var(--highlight);
    border-radius: 15px;
    background-color: var(--accent);
    box-sizing: border-box;
    height: 100%;
    max-height: 320px;
    max-width: 250px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    padding: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
    text-decoration: none;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-height: 100%;
}

.tn {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px 10px;
    border: 1px solid var(--text);
}

.bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desc {
    max-height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.card:hover .desc {
    max-height: 100%;
    opacity: 1;
    padding: 10px;
}